body {
    padding-top: 70px;
}

.jumbotron {
    color: #2F4F4F;
}

.jumbotron h1,
.jumbotron p {
    margin-left: 20px;
}

.navbar-inverse {
    background-color: #2F4F4F;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
